
body {
font-family: 'Outfit';
width: 100vw;
height: 947px;
font-size: 15px;
margin: 0;
position: relative;
}

.container-for-qrcode {
    position:relative;
    top: 10%;
    background-color: hsl(212, 45%, 89%);
    max-width: 1440px;
    min-height: 757px;
    margin: auto;
    box-shadow: 1px 1px 25px 1px hsl(218, 44%, 22%);
}


.wrapper {
    position: relative;
    top: 120px;
    background-color: hsl(0, 0%, 100%);
    padding-top: 15px;
    padding-left:10px;
    padding-right: 10px;
    max-width: 288px;
    margin: auto;
    height: 478px;
    border-radius: 20px;
    text-align: center; 
    border-color:hsl(218, 44%, 22%);
}

.wrapper img {
    height: 290px;
    border-radius: 10px;
    display: block;
    margin: auto;
    width: 98%;
}

.wrapper h2 {
    max-width: 295px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper p {

    color: hsl(216, 15%, 48%);
    width: 280px;
    margin: auto;
}

.attribution {
    position: relative; 
    top: 98px; 
    margin: auto; 
    width: 300px;
}
@media only screen and (max-width: 375px) {

    body {
        height: 100vh;
    }

    .container-for-qrcode {
        position: relative;
        margin: 0;
        width: 100vw;
        top:0;
        height: 100vh;
    }

    .wrapper {
        position: relative;
        top: 145px;
        min-width: 299px;
        min-height: 487px;
        font-size: 13.5px;
    }

    .wrapper h2 {
        width: 260px;
    }

    .wrapper p {
        width: 250px;
    }

    .attribution {
        position: relative;
        top:0;
    }
}