
body {
font-family: 'Outfit';
width: 100%;
height: 100vh ;
margin: 0 auto;
font-size: 15px;
}

.container-for-qrcode {
    position:relative;
    top: 15vh;
    background-color: hsl(212, 45%, 89%);
    width: 1440px;
    height: 70%;
    margin: auto;
}


.wrapper {
    background-color: hsl(0, 0%, 100%);
    padding-top: 14px;
    padding-left:10px;
    padding-right: 10px;
    width: 20%;
    margin: auto;
    height: 75%;
    border-radius: 20px;
    text-align: center; 
    border-color:hsl(218, 44%, 22%);
}

.wrapper img {
    height: 300px;
    border-radius: 10px;
    display: block;
    margin: auto;
    width: 98%;
}

.wrapper h2 {
    width: 295px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper p {

    color: hsl(216, 15%, 48%);
    width: 280px;
    margin: auto;
}